:host{
  box-sizing: border-box;
  display: block;
  height: 100%;
}

// mat-tab-group, mat-tab {
//   height: 100%;
// }

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: auto;
  align-content: start;
  background-color: #fafafa;
  height: 100%;
}

.card {
  border: 1px solid #aaaaaa;
  margin: 12px 12px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#wrapper{
  padding: 16px; 
  min-height: 100%; 
  height: 100%; 
  box-sizing: border-box;/*new*/
}
#tab-group{
  height: 100%;
}
#tab-group mat-tab-body {
  flex-grow: 1;
}

::ng-deep {
  .mat-mdc-tab-body-wrapper {
      width: 100%;
      height: 100%;
  }
}

.jgcontainer {
  // display: ;
  // position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
}



.fill {
  display: block;
  width: 100%;
  height: 100%;
}