<div id="wrapper"> 
  <mat-tab-group id="tab-group" mat-align-tabs="center">

    <mat-tab label="Jasons timeline">
      <ng-template matTabContent>      
        <div class="jgcontainer" *ngIf="timelineDataLoaded | async" >
          <app-commit-timeline class="fill" [commits]="commits" [field]="2" [max]="3000">
          </app-commit-timeline>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Weekly punchcard (commits over 6 months)">
      <ng-template matTabContent>      
        <div class="container" *ngIf="dataLoaded | async" >
          <app-commit-punchcard class="card" *ngFor="let committer of hourlyStats | keyvalue" [committer]="committer.key" [commits]="hourlyStats" [field]="2" [bubblescale]="3">
          </app-commit-punchcard>
        </div>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="Weekly commits vs week of year">
      <ng-template matTabContent>      
        <div class="container" *ngIf="dataLoaded | async" >
          <app-commit-lines-of-code class="card" *ngFor="let committer of weeklyStats | keyvalue" [committer]="committer.key" [commits]="weeklyStats" [field]="0" [max]="max[0]">
          </app-commit-lines-of-code>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Weekly files changed vs week of year">
      <ng-template matTabContent>      
        <div class="container" *ngIf="dataLoaded | async" >
          <app-commit-lines-of-code class="card" *ngFor="let committer of weeklyStats | keyvalue" [committer]="committer.key" [commits]="weeklyStats" [field]="1" [max]="300">
          </app-commit-lines-of-code>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Weekly lines added vs week of year">
      <ng-template matTabContent>      
        <div class="container" *ngIf="dataLoaded | async" >
          <app-commit-lines-of-code class="card" *ngFor="let committer of weeklyStats | keyvalue" [committer]="committer.key" [commits]="weeklyStats" [field]="2" [max]="3000">
          </app-commit-lines-of-code>
        </div>
      </ng-template>
    </mat-tab>    
  </mat-tab-group>
</div>
